.container {
    width: 60%;
    height: auto;
}
.mainContainer {
    box-shadow: -3px 0px 65px 15px rgba(189,189,189,1);
}
.todoItem .delete {
    display: none;
}

.todoItem:hover .delete {
    display: inline;
}

.title {
    font-family: Courier, monospace;
    color: rgba(214, 5, 5, 0.37);
}
.enterName {
    font-family: monospace;
    font-size:larger;
    color: darkgray;
}
ul {
    list-style-type: none;
}

input {
    height: 50px;
    border: 0.1px solid gainsboro;
}
.task {
    font-family: Courier, monospace;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-bottom: 0.1px solid gainsboro;
    border-left: 0.1px solid gainsboro;
    border-right: 0.1px solid gainsboro;
    align-items: center;
}

.taskCounter {
    font-family: monospace;
    font-size: small;
    height: 30px;
    color: gainsboro;
    margin: 0;
    padding-left: 15px;
    border-bottom: 0.1px solid gainsboro;
    border-left: 0.1px solid gainsboro;
    border-right: 0.1px solid gainsboro;
    align-items: center;
}

.taskCounter p {
    padding-left: 1px;
    padding-top: 20px;
}

.taskCounter1 {
    height: 4px;
    margin-left: 2px;
    margin-right: 2px;
    border-bottom: 0.1px solid gainsboro;
    border-left: 0.1px solid gainsboro;
    border-right: 0.1px solid gainsboro;
    background-color: white;
}

.taskCounter2 {
    height: 4px;
    margin-left: 4px;
    margin-right: 4px;
    border-bottom: 0.1px solid gainsboro;
    border-left: 0.1px solid gainsboro;
    border-right: 0.1px solid gainsboro;
    background-color: white;
}

.CounterDiv1 {
    background-color: rgb(221, 221, 221);
}